:root {
    --pr: #fd9696;
    --sc: #d90978;
    --bg: #fccece;
    --dr: #181818;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Viga', sans-serif;
    color: #fff;
    overflow: hidden;
}


/* Links Section */
.links {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to top right, #fd9696 30%, #fcb7b7);
    background-position: left;
    background-size: 700%;
    animation: bg-animasi 4s infinite alternate-reverse;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes bg-animasi{
    0%{
        background-position: left;
    }
    25% {
        background-position: top;
    }
    50% {
        background-position: right;
    }
    75% {
        background-position: bottom;
    }
    100%{
        background-position: center;
    }
}

.links .row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.links .row img {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    margin-bottom: 0.9rem;
    position: relative;
}

.links .row img:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.links .row h2 {
    font-size: 2rem;
    font-weight: 100;
    margin-bottom: 1rem;
    cursor: pointer;
}

.links .row a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 17rem;
    height: 4rem;
    background-color: #fff;
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 0.5rem;
    color: var(--pr);
    font-size: 1.5rem;
    font-weight: 100;
    transition: all 0.3s ease-in-out;
}

.links .row a .icon {
    margin-right: 0.5rem;
}

.links .row a:hover {
    background-color: var(--pr);
    color: #fff;
    transform: scale(1.1);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.links .row p {
    font-size: 1rem;
    font-weight: 100;
    margin-top: 1rem;
    cursor: pointer;
}

.links .row p span {
    color: var(--pr);
    font-weight: 100;
    text-shadow: 0 0 3px rgba(0, 0, 0, 1);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}


/* Animasi Section */
.circle {
    width: 13rem;
    height: 13rem;
    border-radius: 50%;
    position: absolute;
    right: 0;
    bottom: 0;
    background: linear-gradient(to top right, #fd9696 30%, #fcb7b7);
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.3);
    animation: shadow 8s infinite alternate;
    filter: blur(0.2px);
    cursor: pointer;
}

@keyframes shadow {
    0% {
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    }
    25% {
        box-shadow: -10px 0 10px rgba(0, 0, 0, 0.3);
    }
    50% {
        box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.3);
    }
    75% {
        box-shadow: 10px 0 10px rgba(0, 0, 0, 0.3);
    }
    100% {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }
}

.small {
    width: 5rem;
    height: 5rem;
    right: 29rem;
    top: 29rem;
    filter: blur(1.2px);
}

.smally {
    width: 9rem;
    height: 9rem;
    left: 6rem;
    top: 2rem;
    filter: blur(0.9px);
}

.big {
    width: 16rem;
    height: 16rem;
    right: 0;
    top: 0;
}

.med {
    width: 22rem;
    height: 22rem;
    left: -4rem;
    bottom: -4rem;
    filter: blur(0.5px);
}


/* Media Queries */

/* Laptop */
@media (max-width: 1366px) {
    html {
        font-size: 75%;
    }
}

/* Tablet */
@media (max-width: 768px) {
    html {
        font-size: 62.5%;
    }

    .links .row img {
        width: 12rem;
        height: 12rem;
    }

    .links .row h2 {
        font-size: 2.1rem;
    }

    .links .row a {
        font-size: 1.9rem;
    }

    .links .row p {
        font-size: 1.1rem;
    }
}

/* Phone */
@media (max-width: 450px) {
    html {
        font-size: 45%;
    }

    .links .row img {
        width: 13rem;
        height: 13rem;
    }

    .links .row h2 {
        font-size: 2.2rem;
    }

    .links .row a {
        font-size: 2rem;
    }

    .links .row p {
        font-size: 1.2rem;
    }
}